<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}
">
<head>
	<meta charset="UTF-8" />
	<title>This is custom login page</title>

</head>
<body>
	<section>
		 <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card my-5" style="height: 220px;">
			<div class="alert alert-success mt-3" role="alert">
                We have sent OTP to your email ..
            </div>
						<!-- message box -->
						<div th:if="${session.message}" class="container">
							<div class="alert alert-danger my-2 text-center" role="alert">
								<span th:text="${session.message}"></span>
							</div>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<form method="post" action="" th:action="@{/verify-otp}">
				<div class="form-group" style="padding: 10px;">
					<input name="otp" required="required" type="text" placeholder="Enter OTP here" class="form-control"  />
				</div>
				<div class="container text-center"><br />
					<button class="btn btn-success">Verify</button><br />
				</div>
			</form>

          
        </div>

      </div>
    </div>
  </div>
	</section>
	
</body>
</html>